      /* Body */


html {
    font-size: 100%;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 7% 0 7%;
    /*border: 2px solid red; */
}

img {
    max-width:100%;
}

h1 {
    font-size: 5vw;
    font-family: 'Zilla Slab', serif;
    color: #000;
}

h4 {
    font-size: 1.5rem;
    font-family: 'Zilla Slab', serif;
    color: rgb(255, 0, 0);
    white-space: nowrap;
}

.title {
    font-style: italic;
    }

p {
    font-size: 4vw;
    font-family: 'Roboto Condensed', sans-serif;
    color: #000;
    align-self: center;
    text-align: center;
}

body {
    background-color: #ffee00;
}

@media screen and (min-width: 600px) {
	p {
        font-size: 3vw;
	}
}


@media screen and (min-width: 990px) {
	p {
        font-size: 2vw;
	}
}

@media screen and (min-width: 990px) {
	h4 {
        font-size: 1vw;
	}
}


/* navigation */

.sidenav {
    margin-left: -45px;
    width: 105px; /* Set the width of the sidebar */
    position: absolute;
    z-index: 1; /* Stay in front */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #FFF; /* Black */
    overflow: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    display:inline;
    padding-right: 30px;
    padding: 60px 8px 6px 1px;
    text-decoration: none;
    font-family: 'Zilla Slab', serif;
    transform:rotate(-90deg);
    font-size: 22px;
    line-height: .8em;
    color: #111 ;
    display: block;
}

.sidenav a:hover {
    color: #0011ff;
}

.sidenav h1 {
    color: #fff;
}

.sidenav2 {
    margin-top: -20px;
    margin-left: 0px;
    width: 87px; /* Set the width of the sidebar */
    position: absolute;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #ff306e; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    }

/* The navigation menu links */
.sidenav2 a {
    display:inline;
    padding: 0 px 8px 6px 1px;
    text-decoration: none;
    line-height: 1.3em;
    text-align:center;
    display: block;
    }

.home:hover {
    background-color: #FFF;
    color: #0011ff;
    }

.home {
    font-size: 22px;
    font-family: 'Zilla Slab', serif;
    background-color: #f00;
    color: #fff;
}

.insta {
    font-size: 22px;
    font-family: 'Zilla Slab', serif;
    background-color: #ffee00;
    color: #0011ff;
}

.insta:hover {
    background-color: #0011ff;
    color: #fff;
    }






