.sidenav {
    margin-left: -45px;
    width: 105px; /* Set the width of the sidebar */
    position: absolute;
    z-index: 1; /* Stay in front */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #FFF; /* Black */
    overflow: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
/* The navigation menu links */
.sidenav a {
    display:inline;
    padding-right: 30px;
    padding: 60px 8px 6px 1px;
    text-decoration: none;
    font-family: 'Zilla Slab', serif;
    transform:rotate(-90deg);
    font-size: 22px;
    line-height: .8em;
    color: #111 ;
    display: block;
}
.sidenav a:hover {
    color: #0011ff;
}

.sidenav h1 {
    color: #fff;
}
.sidenav2 {
    margin-top: -20px;
    margin-left: 0px;
    width: 87px; /* Set the width of the sidebar */
    position: absolute;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #ff306e; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    }
    /* The navigation menu links */
.sidenav2 a {
    display:inline;
    padding: 0 px 8px 6px 1px;
    text-decoration: none;
    line-height: 1.3em;
    text-align:center;
    display: block;
    }
.home:hover {
    background-color: #FFF;
    color: #0011ff;
    }
.home {
    font-size: 22px;
    font-family: 'Zilla Slab', serif;
    background-color: #f00;
    color: #fff;
}
.insta {
    font-size: 22px;
    font-family: 'Zilla Slab', serif;
    background-color: #ffee00;
    color: #0011ff;
}
.insta:hover {
    background-color: #0011ff;
    color: #fff;
    }
.mobile {
    background-color: #fff;
    font-family: 'Futura', sans-serif;
    font-size:15px;
}

.mobile:hover {
    background-color: #000;
    color: #fff;
}
.sidenav h1 {
    color: #fff;
    }
h1 {
    margin-left:120px;
    font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #000;
}

.title {
    font-style: italic
    }

h3 {
    margin-left:120px;

    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #000;

}

ul {
    margin-left:120px;

    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #000;

}
